body {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
}

.site-title {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.5;
}

.main-content-card {
    border-style: solid;
    border-color: #E4E4E7;
    border-width: 0 0 1px 0;
    width: 90%;
    height: 90%;
    margin: 20px auto;
    box-shadow: 4px 24px 60px rgba(109, 141, 173, 0.25);
    max-width: 1150px;
    padding: 0%;
}

.nav-bar-col {justify-content: center;}
.nav-bar-links {justify-content: right; font-weight: 500;}
.nicegui-link {color: black; text-decoration: none;}
.nav-bar-icon {width: 30px;}

.active-page-link {
    color: #1d6096;
    border-bottom: 2px solid #1d6096;
    margin-bottom: -2px;
}

.card-inner-row {
    max-width: 868px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    justify-content: center;
}

.card-inner-row-content {
    min-height: 440px;
}

.sectioning-hr, .sectioning-hr hr {
    border: none;
    background-color: rgb(235, 235, 235);
    height: 1px;
    width: 100%;
}

.card-inner-row-footer {
    color: white;
    background-color: #1d6096;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
}

.nicegui-card {
    gap: unset;
}

.stat-card {
    justify-content: center;
    align-content: center;
    border: solid 2px, #1d6096;
    width: 13rem;
    height: 100%;

}
.stat-card-blue {background-color: #1d6096; color: white; }
.stat-card-white {color: #1d6096;}
.stat-card-large-text {
    font-size: 4.6rem;
    justify-content: center;
    display: flex;
}
.stat-card-small-text {
    font-size: 0.8rem;
    justify-content: center;
    display: flex;
    font-weight: 400;
}

.stat-card-white .stat-card-small-text {font-weight: 600;}